   <div class="first">
          <div class="col-xs-3 border animated fadeInRight pad0" ng-class="{fadeOutRight: snapIndex != 0}"><img src="/app/assets/img/1.jpg" class="img-responsive vCenterImage"></div>
          <div class="col-xs-3 border animation-delay-5 animated fadeInRight pad0" ng-class="{fadeOutRight: snapIndex != 0}"><img src="/app/assets/img/2.jpg" class="img-responsive vCenterImage"></div>
          <div class="col-xs-3 border animation-delay-8 animated fadeInRight pad0" ng-class="{fadeOutRight: snapIndex != 0}"><img src="/app/assets/img/3.jpg" class="img-responsive vCenterImage"></div>
          <div class="col-xs-3 border animated {{anim.lastImage}} pad0">
            <img src="/app/assets/img/4.jpg" class="img-responsive vCenterImage">
          </div>
          <div class="fPMainText">
            <center>
              <div class="animated {{anim.mainText}} center-block">
                <span class="em">a lean, <span class="greenAnim animated animation-delay-27 zoomInDown">green</span></em></span><br/>
                <span><span class="animated bounceIn animation-delay-27 result">result-driven</span><br/><span class="animated zoomInDown animation-delay-30 machine">machine</span></span>
              </div>
            </center>
          </div>
          <div class="cf"></div>
        </div>