
<div class="privacy container">
<h1 class="em">LIME ADVERTISING - PRIVACY STATEMENT</h1>


<p>At Lime Advertising, we are committed to protecting your online privacy. We use any information we collect about you online to provide a personalized service experience. Please read on for more details about our online privacy policy.</p>

<p><strong>What information do we collect? How do we use it?</strong><br/>
At Lime Advertising, our site may require users to give us contact information. We may use this to send you information about our Company, promotional materials and information from our partners. This site may contain links to other sites. Lime Advertising is not responsible for the privacy practices or the content of such websites. We will not pass your information along to the linked site unless by doing so we can better assist you in providing the service you seek. We cannot protect your information if you provide it to one of the sites we are linked to. We monitor customer traffic patterns and site usage to help us develop the design and layout of the Lime Advertising website. </p>

<p><strong>What about “cookies”?</strong><br/>
“Cookies” are small pieces of information that are stored by your browser on your computer’s hard drive. Our cookies do not contain any personally identifying information. Most web browsers automatically accept cookies, but you can usually change your browser to prevent that. Even without accepting cookies, you can still use most of the features throughout the Lime Advertising website.</p>

<p><strong>Will Lime disclose the information it collects to outside parties?</strong><br/>
Lime does not sell, trade or rent your personal information to others. We may choose to do so in the future with trustworthy third parties, but you can request that we do not by e-mailing us at contactus@limeadvertising.com. (If you use more than one e-mail address to communicate with us, send this message from each e-mail account you use.) Also, Lime Advertising may provide aggregate statistics about our customers, traffic patterns and related site information to reputable third party vendors, but these statistics will include no personal identifying information.</p>

<p><strong>Your consent</strong><br/>
By using our website, you consent to the collection and use of this information by Lime Advertising. If we decide to change our privacy policy, we will post those changes on this page so that you are always aware of what information we collect, how we use it, and under what circumstances we disclose it. Tell us what you think Lime Advertising welcomes your questions and comments about privacy. Please send e-mail to contactus@limeadvertising.com.</p>

<p><strong>Contacting the website</strong><br/>
If you have any questions about this privacy statement, the practices of this site, or your dealings with this website, you can contact:</p>

<strong>Lime Advertising</strong><br/>
2913 Lake Shore Boulevard West <br/>
Toronto, Ontario <br/>
M8V 1J3<br/><br/>

Phone: 416.340.0654<br/>
Fax: 416.340.7561<br/>
</div>