        <div class="secondPanel padL100 {{backGround}}">
          <div class="col-lg-9 col-md-8 col-sm-7 animated fadeInDown pad0 heightFull" ng-class="{fadeOutDown: snapIndex != 1}">
            <div class="allText">          
              <div class="mainText" ><span class="firstLine">Add a little <span class="firstLineLime animated bounceIn animation-delay-8">Lime</span></span>
                <div>
                  <span class="secondLine animated fadeIn animation-delay-25">to sweeten</span><br/>
                  <span class="thirdLine  animated fadeIn animation-delay-25">your results.</span>
                </div>
              </div>
              <div class="animated fadeIn animation-delay-30">
                  <p>We're small – because we want to be.</p>
                  <p>Agile, versatile and always having something to prove, rest assured having this “little guy” on your team is something
                  your brand could use to stand out. From social media, SEO and online campaigns to more traditional ad mediums including
                  print, radio and direct mail, our experience is second to none.</p>
                  <p>Being small has its advantages for you as well. With a streamlined team handling your account, more of your money
                  will be spent on providing results for your brand, rather than paying for large teams.</p>
                  <p>At Lime, we know we’re just the right size to effectively build brand awareness, improve brand recall, and sell to your clients.
                  Our full arsenal of marketing tools can be fashioned to fit the plan that works for your brand. Together, we can put your brand
                  in the right light without putting your budget in the red.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-5 heightFull animation-delay-00 animated fadeInDown pad0" ng-class="{fadeOutRight: snapIndex != 1}">
            <img src="/app/assets/img/4.jpg" class="img-responsive vCenterImage">
          </div>
          <div class="cf"></div>
        </div>