<div class="col-sm-11 col-xs-12 mainView pad0">
  <div class="vAlign pad0">
    <div class="main workMain pad0" snapscroll fit-window-height scroll-delay="0" prevent-double-snap-delay="1200" snap-index="snapIndex" before-snap="beforeSnap(snapIndex)" after-snap="afterSnap(snapIndex)"
      snap-animation="snapAnimation" ng-swipe-up="snapIndex=snapIndex+1" ng-swipe-down="snapIndex=snapIndex-1" style="overflow:hidden!important;">
      <div class="workMcVitiescPanel mainWork animated fadeIn" ng-class="{fadeOut: snapIndex != 0}">
        <div class="changeWidth">
          <div class="col-md-3 col-sm-6 col-xs-12 pad0 workText">
            <div>
              <!--<div class="visible-xm"><img src="/app/assets/img/mcvities-contest.jpg" class="img-responsive" alt="mcvities contest"></div>-->
              <center><img src="/app/assets/img/mcvities.png" class="img-responsive"></center>
              <p>Originally from the United Kingdom, McVitie’s came to us looking to get Canada excited about their biscuits.
                Even though they had already been in the Canadian market, they needed a little something sweet to increase
                local awareness. </p>
              <p>After our first meeting, McVitie’s loved what we brought to the table and were excited to get started. Tasked
                with establishing this 100+ year old brand in Canada, we quickly got to work with a website and contest that
                spanned across the country. Here are some of the ideas we’ve served up so far. </p>
            </div>
          </div>
          <div class="col-md-9 col-sm-6 pad0 parent">
            <div class="allContent">
              <div class="col-sm-12 pad0">
                <div class="col-lg-8 col-md-8 col-sm-12 pad0 animated zoomIn" ng-class="{zoomOut: snapIndex != 0}">
                  <img src="/app/assets/img/mcvities-contest.jpg" class="img-responsive" alt="mcvities contest">
                </div>
                <div class="col-lg-4 col-md-4 pad0 animated zoomIn booth pull-right hidden-sm hidden-xs centerBoths" ng-class="{zoomOut: snapIndex != 0}">
                  <img src="/app/assets/img/mcvities-booth.png" class="img-responsive">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 hidden-sm hidden-xs pad0 animated zoomIn pc centerBoths" ng-class="{zoomOut: snapIndex != 0}">
                  
                    <img src="/app/assets/img/mcvities-website.png" class="img-responsive">
                
                </div>
              </div>
              <!--<div class="col-sm-12 pad0">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 pad0 animated fadeIn" ng-class="{fadeOutRight: snapIndex != 0}">
                  <center>
                    <img src="/app/assets/img/carlsberg-magazine.jpg" class="img-responsive">
                  </center>
                </div>
                <div class="col-lg-4 col-md-4 pad0 animated fadeIn hidden-sm hidden-xs" ng-class="{fadeOutRight: snapIndex != 0}">
                  <center>
                    <img src="/app/assets/img/carlsberg-calender.jpg" class="img-responsive">
                  </center>
                </div>
              </div>-->
            </div>
          </div>
          <div class="cf"></div>
        </div>
      </div>
      <div class="workMerryMaidsPanel mainWork animated fadeIn" ng-class="{fadeOut: snapIndex != 1}">
        <div class="changeWidth">
          <div class="col-md-3 col-sm-6 col-xs-12 pad0 workText">
            <div>
              <center><img src="/app/assets/img/merry-maids.png" class="img-responsive"></center>
              <p>With franchises across Canada, Merry Maids is at the top of their cleaning game. Achieving their goals wasn’t
                easy and competition is always a factor when it comes to home cleaning. That’s where Lime comes in. </p>
              <p>From helping each location find the right staff to coming up with inventive ways to attract new clients, retain
                existing ones and raise awareness for the brand, this little Lime is proud to serve our fellow partners in
                green. Check out the materials we’ve created to help Merry Maids cleanup in the consumer market. </p>
            </div>
          </div>
          <div class="col-md-9 col-sm-6 pad0 parent">
            <div class="allContent">
              <div class="col-sm-12 pad0">
                <div class="col-lg-8 col-md-8 col-sm-12 pad0 animated rollIn" ng-class="{rollOut: snapIndex != 1}">
                  <img src="/app/assets/img/merrymaids-main.jpg" class="img-responsive">
                </div>
                <div class="col-lg-4 col-md-4 pad0 animated rollIn hidden-sm" ng-class="{rollOut: snapIndex != 1}">
                  <img src="/app/assets/img/merrymaids-cleaningtons.jpg" class="img-responsive">
                </div>
              </div>
              <div class="col-sm-12 pad0">
                <div class="col-lg-8 col-md-8 col-sm-12 hidden-sm pad0 pc animated rollIn" ng-class="{rollOut: snapIndex != 1}">
                  <span class="centerBoth">
                  <img src="/app/assets/img/merrymaids-pc.png" class="img-responsive">
                </span>
                </div>
                <div class="col-lg-4 col-md-4 pad0 phone animated rollIn hidden-sm" ng-class="{rollOut: snapIndex != 1}">
                  <center>
                    <img src="/app/assets/img/merrymaids-phone.png" class="img-responsive">
                  </center>
                </div>
              </div>
            </div>
          </div>
          <div class="cf"></div>
        </div>
      </div>
      <div class="workOnenergyPanel mainWork animated fadeIn" ng-class="{fadeOut: snapIndex != 2}">
        <div class="changeWidth">
          <div class="col-md-3 col-sm-6 col-xs-12 pad0 workText">
            <div>
              <center><img src="/app/assets/img/onenergy.png" class="img-responsive"></center>
              <p>In the ultra-competitive energy market, having a unique approach is key. After some collaboration, ONEnergy felt very comfortable joining us in moving toward a brighter future. </p>
              <p>We worked to create a brand voice they’d feel proud of. This professional image gave them the confidence to stand out, shine brightly and aggressively compete in their market.</p>
            </div>
          </div>
          <div class="col-md-9 col-sm-6 pad0 parent">
            <div class="allContent">
              <div class="col-lg-8 col-md-8 col-sm-12 pad0 animated fadeIn" ng-class="{fadeOutRight: snapIndex != 2}">
                <img src="/app/assets/img/onenergy-main.jpg" class="img-responsive">
              </div>
              <div class="col-lg-4 col-md-4 pad0 animated fadeIn  hidden-sm hidden-xs" ng-class="{fadeOutRight: snapIndex != 2}">
                <div class="col-sm-12 pad0">
                  <img src="/app/assets/img/onenergy-top.jpg" class="img-responsive">
                </div>
                <div class="col-sm-12 pad0">
                  <img src="/app/assets/img/onenergy-bottom.jpg" class="img-responsive">
                </div>
              </div>
            </div>
          </div>
          <div class="cf"></div>
        </div>
      </div>
      <div class="workThomsonRogersPanel mainWork animated fadeIn" ng-class="{fadeOut: snapIndex != 3}">
        <div class="changeWidth">
          <div class="col-md-3 col-sm-6 col-xs-12 pad0 workText">
            <div>
              <center><img src="/app/assets/img/thomson-rogers.png" class="img-responsive"></center>
              <p>80 years in Toronto, Ontario and going strong, Thomson, Rogers is a respected law firm that presented a unique
                challenge to our agency. We were intrigued by the prestige of this client and have spent years growing this
                partnership – and their brand. </p>
              <p>Tasked with creating a professional identity that wouldn’t clash with partnerships with other law firms, Lime
                gladly took this task and never looked back. We are quite proud to represent this experienced brand and show
                it with every effective piece we produce. </p>
            </div>
          </div>
          <div class="col-md-9 col-sm-6 pad0 parent">
            <div class="allContent">
              <div class="col-sm-12 pad0 animated fadeIn imgs" ng-class="{fadeOutRight: snapIndex != 3}">
                <img src="/app/assets/img/thomson-rogers-back-to-school.jpg" class="col-md-4 col-sm-6 img-responsive">
                <img src="/app/assets/img/thomson-rogers-unthinkable.jpg" class="col-md-4 col-sm-6 img-responsive">
                <img src="/app/assets/img/thomson-rogers-vs.jpg" class="col-md-4 hidden-sm img-responsive ">
              </div>
              <div class="cf"></div>
              <div class="col-sm-12 pad0 animated fadeIn" ng-class="{fadeOutRight: snapIndex != 3}">
                <div class="col-lg-8 col-md-8 pad0 magazine">
                  <span class="centerBoth">
                <img src="/app/assets/img/thomson-rogers-magazine.png" class="img-responsive">
                </span>
                </div>
                <div class="col-sm-4 pad0 hidden-xs hidden-sm pull-right">
                  <img src="/app/assets/img/thomson-rogers-motorcycle.jpg" class="img-responsive">
                </div>
              </div>
            </div>
          </div>
          <div class="cf"></div>
        </div>
      </div>


   <div class="workPremierPanel mainWork animated fadeIn" ng-class="{fadeOut: snapIndex != 4}">
        <div class="changeWidth">
          <div class="col-md-3 col-sm-6 col-xs-12 pad0 workText">
            <div>
              <center><img src="/app/assets/img/premier.png" class="img-responsive"></center>
              <p>Providing care for those at home isn’t easy. It also leaves very little time to work on branding your business.
                Realizing this, Premier Homecare Services chose to hire Lime to get their creative juices flowing. </p>
              <p>We worked with the owner to establish a direction for the franchises and created a brand voice that spoke to
                the right audience. In caring for their brand, we created SEO websites as well as a number of printed marketing
                materials that their brand needed to successfully stand out among the competition. </p>
            </div>
          </div>
          <div class="col-md-9 col-sm-6 pad0 parent">
            <div class="allContent">
              <div class="col-sm-12 pad0">
                <div class="col-lg-8 col-md-8 col-sm-12 pad0 pcs animated fadeIn hidden-sm hidden-xs" ng-class="{fadeOutRight: snapIndex != 4}">
                  <span class="centerBoth">
                <img src="/app/assets/img/premier-pcs.png" class="img-responsive">
                </span>
                </div>
                <div class="col-md-4 pad0 phone animated fadeIn hidden-sm hidden-xs" ng-class="{fadeOutRight: snapIndex != 4}">
                  <center>
                    <img src="/app/assets/img/premier-iphone.png" class="img-responsive">
                  </center>
                </div>
              </div>
              <div class="col-sm-12 pad0">
                <div class="col-lg-8 col-md-8 col-sm-12 pad0 animated fadeIn" ng-class="{fadeOutRight: snapIndex != 4}">
                  <center>
                    <img src="/app/assets/img/premier-pamphlets.jpg" class="img-responsive">
                  </center>
                </div>
                <div class="col-md-4 pad0 animated fadeIn hidden-sm hidden-xs" ng-class="{fadeOutRight: snapIndex != 4}">
                  <center>
                    <img src="/app/assets/img/premier-magazine.jpg" class="img-responsive">
                  </center>
                </div>
              </div>
            </div>
          </div>
          <div class="cf"></div>
        </div>
      </div>







      <div class="workShipOnyxPanel mainWork animated fadeIn" ng-class="{fadeOut: snapIndex != 5}">
        <div class="changeWidth">
          <div class="col-md-3 col-sm-6 col-xs-12 pad0 workText">
            <div>
              <!--<div class="visible-xm"><img src="/app/assets/img/mcvities-contest.jpg" class="img-responsive" alt="mcvities contest"></div>-->
              <center><img src="/app/assets/img/shiponyx.png" class="img-responsive"></center>
              <p>Being known for their small size and larger than life customer service were two things that immediately drew
                us to Onyx Freight-Works. They are a shipping company that needed a better online presence and branded collateral.
                </p>
              <p>Realizing that Lime was also streamlined for success, Onyx sought out our services and soon we were building
                an SEO website. We worked very closely with the client to ensure their personality shined throughout the
                site. Collaboration is key, and just like Onyx Freight-Works, we’re not afraid to go the extra mile.</p>
            </div>
          </div>
          <div class="col-md-9 col-sm-6 pad0 parent">
            <div class="allContent">
              <div class="col-sm-12 pad0">
                <div class="col-lg-8 col-md-8 col-sm-12 pad0 home  animated fadeIn" ng-class="{fadeOutRight: snapIndex != 5}">
                  <span class="centerBoth">
                <img src="/app/assets/img/shiponyx-home.png" class="img-responsive">
                </span>
                </div>
                <div class="col-lg-4 col-md-4 pad0 ad animated fadeIn hidden-sm hidden-xs" ng-class="{fadeOutRight: snapIndex != 5}">
                  <span class="centerBoth">
                <img src="/app/assets/img/shiponyx-phone.png" class="img-responsive">
                </span>
                </div>
              </div>
              <div class="col-sm-12 pad0 hidden-sm hidden-xs">
                <div class="col-lg-8 col-md-8 col-sm-12 pad0 pcs animated fadeIn" ng-class="{fadeOutRight: snapIndex !=5}">
                  <span class="centerBoth">
                  <img src="/app/assets/img/shiponyx-bottom.png" class="img-responsive">
                </span>
                </div>
                <div class="col-lg-4 col-md-4 pad0 animated fadeIn pull-right" ng-class="{fadeOutRight: snapIndex != 5}">
                  <img src="/app/assets/img/shiponyx-trucks.png" class="img-responsive">
                </div>
              </div>
            </div>
          </div>
          <div class="cf"></div>
        </div>
      </div>
      <div class="workOSCPanel mainWork animated fadeIn" ng-class="{fadeOut: snapIndex != 6}">
        <div class="changeWidth">
          <div class="col-md-3 col-sm-6 col-xs-12 pad0 workText">
            <div>
              <!--<div class="visible-xm"><img src="/app/assets/img/mcvities-contest.jpg" class="img-responsive" alt="mcvities contest"></div>-->
              <center><img src="/app/assets/img/osc.png" class="img-responsive"></center>
              <p>Fun for the whole family, the Ontario Science Centre is a pretty special place. With so much going on, they
                needed someone to help out with their annual fundraiser. They didn’t have to ask us twice. </p>
              <p>Promoting such a great event was a fun experience for us. We’re always happy to help our clients with projects
                that give back to the community and inspire action.</p>
            </div>
          </div>
          <div class="col-md-9 col-sm-6 pad0 parent">
            <div class="allContent">
              <div class="col-lg-8 col-md-8 col-sm-12 pad0 animated fadeIn mainOSC" ng-class="{fadeOutRight: snapIndex != 6}">
                <img src="/app/assets/img/osc-main.png" class="img-responsive">
              </div>
              <div class="col-sm-4 pad0 animated fadeIn rightSide hidden-xs hidden-sm" ng-class="{fadeOutRight: snapIndex != 6}">
                <div class="col-sm-12 pad0 phone">
                  <span class="centerBoth"><img src="/app/assets/img/osc-pamphlet.png" class="img-responsive"></span>
                </div>
                <div class="col-sm-12 bird pad0">
                  <img src="/app/assets/img/osc-green.jpg" class="img-responsive">
                </div>
              </div>
            </div>
          </div>
          <div class="cf"></div>
        </div>
      </div>
      <div class="workHeathPanel mainWork animated fadeIn" ng-class="{fadeOut: snapIndex != 7}">
        <div class="changeWidth">
          <div class="col-md-3 col-sm-6 col-xs-12 pad0 workText">
            <div>
              <center><img src="/app/assets/img/heathandsherwood.png" class="img-responsive"></center>
              <p>Just like Heath and Sherwood, Lime was determined to dig deep and create an image for this dedicated brand.
                Originally only serving the mining industry, this client came to us with the goal of unearthing their true
                personality and showing it to the world. </p>
              <p>Through properly understanding their B2B needs, working with them and asking the right questions, we were able
                to create a voice that was relatable and clever. Today, we manage their website and digital advertising to
                help them garner the right attention from prospective clients. </p>
            </div>
          </div>
          <div class="col-md-9 col-sm-6 pad0 parent">
            <div class="allContent">
              <div class="col-lg-8 col-md-8 pad0 animated fadeIn" ng-class="{fadeOutRight: snapIndex != 7}">
                <img src="/app/assets/img/heath-and-sherwood.jpg" class="img-responsive">
              </div>
              <div class="col-lg-4 col-sm-4 pad0 animated fadeIn hidden-sm hidden-xs right" ng-class="{fadeOutRight: snapIndex != 7}">
                <div class="col-sm-12 pad0">
                  <img src="/app/assets/img/heath-and-sherwood-ipad.jpg" class="img-responsive">
                </div>
                <div class="col-sm-12 pad0 ad">
                  <span class="centerBoth">
                <img src="/app/assets/img/heath-and-sherwod-ad.jpg" class="img-responsive">
                </span>
                </div>
              </div>
            </div>
          </div>
          <div class="cf"></div>
        </div>
      </div>
      <div class="workSunwavePanel mainWork animated fadeIn" ng-class="{fadeOut: snapIndex != 8}">
        <div class="changeWidth">
          <div class="col-md-3 col-sm-6 col-xs-12 pad0 workText">
            <div>
              <center><img src="/app/assets/img/sunwave.png" class="img-responsive"></center>
              <p>While Sunwave has been a partner with us for quite some time, they recently made changes to how they do business,
                and this needed to be reflected in their brand identity. </p>
              <p>Our partnership with them has never been stronger and through understanding where they saw themselves in the
                energy industry, we were able to create something entertaining, yet clear. The end product was fun, engaging
                and easy for customers to understand. These examples shed some light on our latest efforts with Sunwave.</p>
            </div>
          </div>
          <div class="col-md-9 col-sm-6 pad0 parent">
            <div class="allContent">
              <div class="col-lg-8 col-md-8 col-sm-12 pad0 animated fadeIn" ng-class="{fadeOutRight: snapIndex != 8}">
                <img src="/app/assets/img/sunwave-home.jpg" class="img-responsive">
              </div>
              <div class="col-sm-4 pad0 animated fadeIn rightSide hidden-xs hidden-sm" ng-class="{fadeOutRight: snapIndex != 8}">
                <div class="col-sm-12 pad0 phone">
                  <span class="centerBoth"><img src="/app/assets/img/sunwave-phone.png" class="img-responsive"></span>
                </div>
                <div class="col-sm-12 bird pad0">
                  <span class="centerBoth"><img src="/app/assets/img/sunwave-bird.png" class="img-responsive">
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="cf"></div>
        </div>
      </div>
      <div class="workAmeriSpecPanel mainWork animated fadeIn" ng-class="{fadeOut: snapIndex != 9}">
        <div class="changeWidth">
          <div class="col-md-3 col-sm-6 col-xs-12 pad0 workText">
            <div>
              <center><img src="/app/assets/img/amerispec.png" class="img-responsive"></center>
              <p>As a home inspection service, AmeriSpec is second to none. Don’t let the name fool you, this brand is firmly
                established in Canada, and they approached us with the simple objective of growing their business.</p>
              <p>We’ve targeted consumers, real estate agents and other related industries all in the name of providing peace
                of mind for AmeriSpec customers. Speaking to a number of different audiences allows us to flex our creative
                muscles and execute some very effective pieces for our partners at AmeriSpec. Inspect more of our inspired
                work for yourself. </p>
            </div>
          </div>
          <div class="col-md-9 col-sm-6 pad0 parent">
            <div class="allContent">
              <div class="col-sm-12 pad0">
                <div class="col-lg-8 col-md-8 col-sm-12 pad0 animated fadeIn" ng-class="{fadeOutRight: snapIndex != 9}">
                  <img src="/app/assets/img/amerispec-pamphlet.jpg" class="img-responsive">
                </div>
                <div class="col-md-4 col-sm-3 pad0 phone animated fadeIn hidden-sm hidden-xs" ng-class="{fadeOutRight: snapIndex != 9}">
                  <span class="centerBoth">
                <img src="/app/assets/img/amerispec-mobile.png" class="img-responsive">
                </span>
                </div>
              </div>
              <div class="col-sm-12 pad0">
                <div class="col-lg-8 col-md-8 col-sm-12 pad0 animated fadeIn" ng-class="{fadeOutRight: snapIndex != 9}">
                  <center>
                    <img src="/app/assets/img/amerispec-pc.jpg" class="img-responsive">
                  </center>
                </div>
                <div class="col-md-4 col-sm-3 pad0 animated fadeIn hidden-sm hidden-xs" ng-class="{fadeOutRight: snapIndex != 9}">
                  <center>
                    <img src="/app/assets/img/amerispec-ipad.jpg" class="img-responsive">
                  </center>
                </div>
              </div>
            </div>
          </div>
          <div class="cf"></div>
        </div>
      </div>

            <div class="workSubaruPanel mainWork animated fadeIn" ng-class="{fadeOut: snapIndex != 10}">
        <div class="changeWidth">
          <div class="col-md-3 col-sm-6 col-xs-12 pad0 workText">
            <div>
              <!--<div class="visible-xm"><img src="/app/assets/img/mcvities-contest.jpg" class="img-responsive" alt="mcvities contest"></div>-->
              <center><img src="/app/assets/img/subaru-logo.png" class="img-responsive"></center>
              <p>When it came to distributing marketing materials to their dealers, Subaru couldn’t afford to stall. They called
                Lime and we quickly got things in gear. </p>
              <p>By developing a portal to display all available materials online, dealers were able to customize ads based
                on the offer and deal available in their region. This streamlined Subaru’s advertising efforts to be as effective
                as their vehicles.
              </p>
            </div>
          </div>
          <div class="col-md-9 col-sm-7 pad0 parent">
            <div class="allContent">
              <div class="col-sm-12 pad0">
                <div class="col-sm-12 pad0 animated fadeIn" ng-class="{fadeOutRight: snapIndex != 10}">
                  <img src="/app/assets/img/subaru-top.png" class="img-responsive">
                </div>
                <div class="col-sm-12 pad0 animated fadeIn" ng-class="{fadeOutRight: snapIndex != 10}">
                  <img src="/app/assets/img/subaru-bottom.png" class="img-responsive pull-right">
                </div>
              </div>
            </div>
          </div>
          <div class="cf"></div>
        </div>
      </div>



      <div class="workFurnitureMedicPanel mainWork animated fadeIn" ng-class="{fadeOut: snapIndex != 11}">
        <div class="changeWidth">
          <div class="col-md-3 col-sm-6 col-xs-12 pad0 workText">
            <div>
              <center><img src="/app/assets/img/furnituremedic.png" class="img-responsive"></center>
              <p>Furniture Medic restores damaged wood furniture and fixtures, and approached us with the goal of giving their
                business a strong identity. </p>
              <p>Over the years, we’ve produced a successful series of SEO websites for their Canadian franchises, as well as
                a variety of collateral and marketing pieces that speak to both commercial and residential audiences. Check
                the materials that helped restore their brand. </p>
            </div>
          </div>
          <div class="col-md-9 col-sm-6 pad0 parent">
            <div class="allContent">
              <div class="col-sm-12 pad0">
                <div class="col-lg-8 col-md-8 col-sm-12 pad0  animated fadeIn" ng-class="{fadeOutRight: snapIndex != 11}">
                  <img src="/app/assets/img/furnituremedic-magzines.jpg" class="img-responsive">
                </div>
                <div class="col-lg-4 col-md-4 pad0 ad animated fadeIn hidden-sm hidden-xs" ng-class="{fadeOutRight: snapIndex != 11}">
                  <span class="centerBoth">
                <img src="/app/assets/img/furnituremedic-ad.jpg" class="img-responsive">
                </span>
                </div>
              </div>
              <div class="col-sm-12 pad0 hidden-sm hidden-xs">
                <div class="col-lg-8 col-md-8 col-sm-12 pad0 pcs animated fadeIn" ng-class="{fadeOutRight: snapIndex != 11}">
                  <span class="centerBoth">
                  <img src="/app/assets/img/furnituremedic-pcs.png" class="img-responsive">
                </span>
                </div>
                <div class="col-lg-4 col-md-4 pad0 animated fadeIn pull-right" ng-class="{fadeOutRight: snapIndex != 11}">
                  <img src="/app/assets/img/furnituremedic-ipad.jpg" class="img-responsive">
                </div>
              </div>
            </div>
          </div>
          <div class="cf"></div>
        </div>
      </div>
      <div class="workCarlsbergcPanel mainWork animated fadeIn" ng-class="{fadeOut: snapIndex != 12}">
        <div class="changeWidth">
          <div class="col-md-3 col-sm-6 col-xs-12 pad0 workText">
            <div>
              <center><img src="/app/assets/img/carlsberg.png" class="img-responsive"></center>
              <p>With solid brand equity, a popular product and a great tagline already in place, Carlsberg seemed to be firing
                on all cylinders but still needed a little Lime.</p>
              <p>To efficiently adapt the creative for regional purposes, we created an online portal. When orders rolled in,
                our team customized each campaign for local bars, clubs, restaurants and anywhere Carlsberg was sold. We
                also added our own creative ideas as necessary. Now that calls for a Carlsberg. </p>
            </div>
          </div>
          <div class="col-md-9 col-sm-6 pad0 parent">
            <div class="allContent">
              <div class="col-sm-12 pad0 hidden-sm hidden-xs">
                <div class="col-lg-8 col-md-8 col-sm-12 pad0 pc animated fadeIn" ng-class="{fadeOutRight: snapIndex != 12}">
                  <span class="centerBoth">
                <img src="/app/assets/img/carlsberg-pc.png" class="img-responsive">
                </span>
                </div>
                <div class="col-lg-4 col-md-4 pad0 animated fadeIn  pull-right hidden-sm hidden-xs" ng-class="{fadeOutRight: snapIndex != 12}">
                  <img src="/app/assets/img/carlsberg-somersby.jpg" class="img-responsive">
                </div>
              </div>
              <div class="col-sm-12 pad0">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 pad0 animated fadeIn" ng-class="{fadeOutRight: snapIndex != 12}">
                  <center>
                    <img src="/app/assets/img/carlsberg-magazine.jpg" class="img-responsive">
                  </center>
                </div>
                <div class="col-lg-4 col-md-4 pad0 animated fadeIn hidden-sm hidden-xs" ng-class="{fadeOutRight: snapIndex != 12}">
                  <center>
                    <img src="/app/assets/img/carlsberg-calender.jpg" class="img-responsive">
                  </center>
                </div>
              </div>
            </div>
          </div>
          <div class="cf"></div>
        </div>
      </div>
      <div class="workSilksPanel mainWork animated fadeIn" ng-class="{fadeOut: snapIndex != 13}">
        <div class="changeWidth">
          <div class="col-md-3 col-sm-6 col-xs-12 pad0 workText">
            <div>
              <center><img src="/app/assets/img/silks.png" class="img-responsive"></center>
              <p>When this brand approached us for a package design that could really turn heads, we jumped at the chance. From start to finish this process was as smooth as silk. Whether it was our great time on-site of the photoshoot or presenting our designs to the client, this experience was truly unforgettable. The end result saw our client receive a boost in their product sales and allowed us to add one more great piece to our portfolio.</p>
            </div>
          </div>
          <div class="col-md-9 col-sm-6 pad0 parent">
            <div class="allContent">
              <div class="col-lg-8 col-md-8 col-sm-12 pad0 animated fadeIn" ng-class="{fadeOutRight: snapIndex != 13}">
                <img src="/app/assets/img/silks-main.jpg" class="img-responsive">
              </div>
              <div class="col-sm-4 pad0 animated fadeIn rightSide hidden-xs hidden-sm" ng-class="{fadeOutRight: snapIndex != 13}">
                <div class="col-sm-12 pad0 phone">
                  <span class="centerBoth"><img src="/app/assets/img/silks-top.jpg" class="img-responsive"></span>
                </div>
                <div class="col-sm-12 bird pad0">
                  <span class="centerBoth"><img src="/app/assets/img/silks-bottom.jpg" class="img-responsive">
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="cf"></div>
        </div>
      </div>
      <div class="workGlobeAndMailPanel mainWork animated fadeIn" ng-class="{fadeOut: snapIndex != 14}">
        <div class="changeWidth">
          <div class="col-md-3 col-sm-6 col-xs-12 pad0 workText">
            <div>
              <center><img src="/app/assets/img/globe-and-mail-logo.png" class="img-responsive"></center>
              <p>Everyone wants to present their work in the best way possible. In the case of The Globe and Mail, they were
                actively booking meetings to sell their ad space and needed a creative way to showcase their work.</p>
              <p>Lime was happy to help. We created a great salesforce kit which highlighted the positive effects of advertising
                with The Globe and Mail.</p>
            </div>
          </div>
          <div class="col-md-9 col-sm-6 pad0 parent">
            <div class="allContent">
              <div class="col-lg-8 col-md-8 col-sm-12 pad0 animated fadeIn mainOSC globeMail" ng-class="{fadeOutRight: snapIndex != 14}">
                <span class="centerBoth"><img src="/app/assets/img/globe-and-mail.png" class="img-responsive"></span>
              </div>
              <div class="col-sm-4 pad0 animated fadeIn rightSide hidden-xs hidden-sm" ng-class="{fadeOutRight: snapIndex != 14}">
                <div class="col-sm-12 pad0 phone">
                  <img src="/app/assets/img/globe-and-mail-globeedge.jpg" class="img-responsive">
                </div>
                <div class="col-sm-12 bird pad0">
                  <img src="/app/assets/img/globe-and-mail-globedrive.jpg" class="img-responsive">
                </div>
              </div>
            </div>
          </div>
          <div class="cf"></div>
        </div>
      </div>
      <div class="workCranberryPanel mainWork animated fadeIn" ng-class="{fadeOut: snapIndex != 15}">
        <div class="changeWidth">
          <div class="col-md-3 col-sm-6 col-xs-12 pad0 workText">
            <div>
              <center><img src="/app/assets/img/cranberry.png" class="img-responsive"></center>
              <p>Curious to see what happens when you mix cranberry and Lime? The result was this high-end resort finding its
                voice and attracting new customers.</p>
              <p>At first, Cranberry Resort was just a great place in need of a stronger brand presence. Once they added a drop
                of lime, Cranberry Resort boosted their brand equity with a new logo, direct marketing campaign, a website
                and more.</p>
            </div>
          </div>
          <div class="col-md-9 col-sm-6 pad0 parent">
            <div class="allContent">
              <div class="col-sm-12 pad0">
                <div class="col-lg-8 col-md-8 col-sm-12 pad0 animated fadeIn main" ng-class="{fadeOutRight: snapIndex != 15}">
                  <img src="/app/assets/img/cranberry-main.jpg" class="img-responsive">
                </div>
                <div class="col-lg-4 col-md-4 pad0 ad animated fadeIn hidden-sm hidden-xs" ng-class="{fadeOutRight: snapIndex != 15}">
                  <span class="centerBoth">
                <img src="/app/assets/img/cranberry-pamphlet.png" class="img-responsive">
                </span>
                </div>
              </div>
              <div class="col-sm-12 pad0 hidden-sm hidden-xs">
                <div class="col-lg-8 col-md-8 col-sm-12 pad0 pcs animated fadeIn" ng-class="{fadeOutRight: snapIndex != 15}">
                  <span class="centerBoth">
                  <img src="/app/assets/img/cranberry-pc.png" class="img-responsive">
                </span>
                </div>
                <div class="col-lg-4 col-md-4 pad0 animated fadeIn pull-right" ng-class="{fadeOutRight: snapIndex != 15}">
                  <img src="/app/assets/img/cranberry-ipad.jpg" class="img-responsive">
                </div>
              </div>
            </div>
          </div>
          <div class="cf"></div>
        </div>
      </div>
      <div class="workServiceMasterPanel mainWork animated fadeIn" ng-class="{fadeOut: snapIndex != 16}">
        <div class="changeWidth">
          <div class="col-md-3 col-sm-6 col-xs-12 pad0 workText">
            <div>
              <center><img src="/app/assets/img/service-master.png" class="img-responsive"></center>
              <p>When this client first approached us to help with their branding, we were excited to lend a hand. ServiceMaster Restore focuses on helping put things back together for businesses and individuals after fire, flood, and other disasters take place. Our work together led to a campaign targeting professionals in the insurance market, as well as an improved brand presence overall.</p>
            </div>
          </div>
          <div class="col-md-9 col-sm-6 pad0 parent">
            <div class="allContent">
              <div class="col-lg-7 col-md-7 col-sm-12 pad0 animated fadeIn mainOSC" ng-class="{fadeOutRight: snapIndex != 16}">
                <img src="/app/assets/img/service-master-main.jpg" class="img-responsive">
              </div>
              <div class="col-sm-5 pad0 animated fadeIn rightSide hidden-xs hidden-sm" ng-class="{fadeOutRight: snapIndex != 16}">
                <div class="col-sm-12 pad0 phone">
                  <span class="centerBoth"><img src="/app/assets/img/service-master-clean.png" class="img-responsive">  </span>
                </div>
                <div class="col-sm-12 pad0">
                  <img src="/app/assets/img/service-master-ipad.jpg" class="img-responsive">
                </div>
              </div>
            </div>
          </div>
          <div class="cf"></div>
        </div>
      </div>
      <div class="worktorontoTourismPanel mainWork animated fadeIn" ng-class="{fadeOut: snapIndex != 17}">
        <div class="changeWidth">
          <div class="col-md-3 col-sm-6 col-xs-12 pad0 workText">
            <div>
              <center><img src="/app/assets/img/toronto-tourism.png" class="img-responsive"></center>
              <p>Toronto is always a hotspot for performances and we were lucky enough to be part of an iconic one. When Janet
                Jackson came to town, Toronto Tourism knew they had a great opportunity to attract some new people to the
                city. They called Lime to make it happen.</p>
              <p>Even with the iconic status of this popstar, we still needed an idea to attract a tourist audience. That’s
                where we thought to personally invite them to not miss this one of a kind tour. This approach went over very
                well and the response impressed our client.</p>
            </div>
          </div>
          <div class="col-md-9 col-sm-6 pad0 parent">
            <div class="allContent">
              <div class="col-sm-12 pad0 animated fadeIn" ng-class="{fadeOutRight: snapIndex != 17}">
                <img src="/app/assets/img/janet-main.jpg" class="img-responsive">
              </div>
            </div>
          </div>
        </div>
        <div class="cf"></div>
      </div>
      <div class="workDiagoPanel mainWork animated fadeIn" ng-class="{fadeOut: snapIndex != 18}">
        <div class="changeWidth">
          <div class="col-md-3 col-sm-6 col-xs-12 pad0 workText">
            <div>
              <!--<div class="visible-xm"><img src="/app/assets/img/mcvities-contest.jpg" class="img-responsive" alt="mcvities contest"></div>-->
              <center><img src="/app/assets/img/diago.png" class="img-responsive"></center>
              <p>As a brand that’s no stranger to knowing what tastes good, Diageo chose to add a hint of Lime. Equipped with
                strong brands, quality products and campaigns in place, all they needed was a bit of help staying efficient.</p>
              <p>After a look at our portfolio, skillset and a brief meeting with our creative lead, Lime was officially added
                to their team. We got to work by developing a portal for customizing work as needed to keep them organized
                – rather than shaken or stirred.</p>
            </div>
          </div>
          <div class="col-md-9 col-sm-6 pad0 parent">
            <div class="allContent">
              <div class="col-md-7 col-sm-12 pad0 animated fadeIn pcs" ng-class="{fadeOutRight: snapIndex != 18}">
                <img src="/app/assets/img/diago-pcs.png" class="img-responsive">
              </div>
              <div class="col-md-5 col-sm-12 pad0 animated fadeIn hidden-sm hidden-xs" ng-class="{fadeOutRight: snapIndex != 18}">
                <img src="/app/assets/img/diago-tequila.jpg" class="img-responsive">
              </div>
            </div>
          </div>
          <div class="cf"></div>
        </div>
      </div>
    </div>
    <!--<div class="workSunwavePanel mainWork">

        <div class="col-lg-3 col-md-3 col-sm-5 col-xs-12 pad0 workText">
          <div>
            <center><img src="/app/assets/img/sunwave.png" class="img-responsive"></center>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidid unt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
        <div class="col-md-9 col-sm-6 pad0 parent">
          <div class="allContent">
            <div class="col-lg-8 col-md-8 pad0 animated fadeIn bg" ng-class="{fadeOutRight: snapIndex != 5}">
              <img src="/app/assets/img/sunwave-background.jpg" class="img-responsive">




            </div>
            <div class="col-sm-4  pad0 animated fadeIn hidden-md hidden-sm hidden-xs" ng-class="{fadeOutRight: snapIndex != 5}">
              <div class="col-sm-12 pad0 phone">
                <span class="centerBoth"><img src="/app/assets/img/sunwave-phone.png" class="img-responsive"></span>
              </div>
              <div class="col-sm-12 pad0 bird">
                <span class=centerBoth"><img src="/app/assets/img/sunwave-bird.png" class="img-responsive">
                  </span>
              </div>
            </div>
          </div>
        </div>

        <div class="cf"></div>
      </div>-->
  </div>
  <!--main-->
</div>
<!--vAlign-->
</div>
<!--mainView-->
<div class="indicators col-xs-1 animated trans hidden-xs">
  <ul class="animated trans">
   
    <li ng-class="{blue: snapIndex == 0}" class="hvr-sweep-to-left">
      <a href="/work/mcvities"><span ng-class="{active: snapIndex == 0}">&nbsp;&nbsp;01. <span class="hideForNow">McVitie's&nbsp;&nbsp;</span></span></a>
    </li>
    <li ng-class="{blue: snapIndex == 1}" class="hvr-sweep-to-left">
      <a href="/work/merry-maids"><span ng-class="{active: snapIndex == 1}">&nbsp;&nbsp;02. <span class="hideForNow">Merry Maids&nbsp;&nbsp;</span></span></a>
    </li>
    <li ng-class="{blue: snapIndex == 2}" class="hvr-sweep-to-left">
      <a href="/work/onenergy"><span ng-class="{active: snapIndex == 2}">&nbsp;&nbsp;03. <span class="hideForNow">ONEnergy&nbsp;&nbsp;</span></span></a>
    </li>
    <li ng-class="{blue: snapIndex == 3}" class="hvr-sweep-to-left">
      <a href="/work/thomson-rogers"><span ng-class="{active: snapIndex == 3}">&nbsp;&nbsp;04. <span class="hideForNow">Thomson Rogers&nbsp;&nbsp;</span></span></a>
    </li>
    <li ng-class="{blue: snapIndex == 4}" class="hvr-sweep-to-left">
      <a href="/work/premier"><span ng-class="{active: snapIndex == 4}">&nbsp;&nbsp;05. <span class="hideForNow">Premier Home Care&nbsp;&nbsp;</span></span></a>
    </li>
    <li ng-class="{blue: snapIndex == 5}" class="hvr-sweep-to-left">
      <a href="/work/ship-onyx"><span ng-class="{active: snapIndex == 5}">&nbsp;&nbsp;06. <span class="hideForNow">Ship Onyx&nbsp;&nbsp;</span></span></a>
    </li>
    <li ng-class="{blue: snapIndex == 6}" class="hvr-sweep-to-left">
      <a href="/work/ontario-science-centre"><span ng-class="{active: snapIndex == 6}">&nbsp;&nbsp;07. <span class="hideForNow">Ontario Science Centre&nbsp;&nbsp;</span></span></a>
    </li>
    <li ng-class="{blue: snapIndex == 7}" class="hvr-sweep-to-left">
      <a href="/work/heath-and-sherwood"><span ng-class="{active: snapIndex == 7}">&nbsp;&nbsp;08. <span class="hideForNow">Heath & Sherwood&nbsp;&nbsp;</span></span></a>
    </li>
    <li ng-class="{blue: snapIndex == 8}" class="hvr-sweep-to-left">
      <a href="/work/sunwave"><span ng-class="{active: snapIndex == 8}">&nbsp;&nbsp;09. <span class="hideForNow">Sunwave&nbsp;&nbsp;</span></span></a>
    </li>
    <li ng-class="{blue: snapIndex == 9}" class="hvr-sweep-to-left">
      <a href="/work/amerispec"><span ng-class="{active: snapIndex == 9}">&nbsp;&nbsp;10. <span class="hideForNow">AmeriSpec&nbsp;&nbsp;</span></span></a>
    </li>

    <li ng-class="{blue: snapIndex == 10}" class="hvr-sweep-to-left">
      <a href="/work/subaru"><span ng-class="{active: snapIndex == 10}">&nbsp;&nbsp;11. <span class="hideForNow">Subaru&nbsp;&nbsp;</span></span></a>
    </li>
    <li ng-class="{blue: snapIndex == 11}" class="hvr-sweep-to-left">
      <a href="/work/furniture-medic"><span ng-class="{active: snapIndex == 11}">&nbsp;&nbsp;12. <span class="hideForNow">Furniture Medic&nbsp;&nbsp;</span></span></a>
    </li>
    <li ng-class="{blue: snapIndex == 12}" class="hvr-sweep-to-left">
      <a href="/work/carlsberg"><span ng-class="{active: snapIndex == 12}">&nbsp;&nbsp;13. <span class="hideForNow">Carlsberg&nbsp;&nbsp;</span></span></a>
    </li>
    <li ng-class="{blue: snapIndex == 13}" class="hvr-sweep-to-left">
      <a href="/work/silks"><span ng-class="{active: snapIndex == 13}">&nbsp;&nbsp;14. <span class="hideForNow">Silks&nbsp;&nbsp;</span></span></a>
    </li>
    <li ng-class="{blue: snapIndex == 14}" class="hvr-sweep-to-left">
      <a href="/work/globe-and-mail"><span ng-class="{active: snapIndex == 14}">&nbsp;&nbsp;15. <span class="hideForNow">The Globe And Mail&nbsp;&nbsp;</span></span></a>
    </li>
    <li ng-class="{blue: snapIndex == 15}" class="hvr-sweep-to-left">
      <a href="/work/cranberry"><span ng-class="{active: snapIndex == 15}">&nbsp;&nbsp;16. <span class="hideForNow">Cranberry&nbsp;&nbsp;</span></span></a>
    </li>
    <li ng-class="{blue: snapIndex == 16}" class="hvr-sweep-to-left">
      <a href="/work/service-master"><span ng-class="{active: snapIndex == 16}">&nbsp;&nbsp;17. <span class="hideForNow">Service Master&nbsp;&nbsp;</span></span></a>
    </li>
    <li ng-class="{blue: snapIndex == 17}" class="hvr-sweep-to-left">
      <a href="/work/tourism-toronto"><span ng-class="{active: snapIndex == 17}">&nbsp;&nbsp;18. <span class="hideForNow">Tourism Toronto&nbsp;&nbsp;</span></span></a>
    </li>
    <li ng-class="{blue: snapIndex == 18}" class="hvr-sweep-to-left">
      <a href="/work/diageo"><span ng-class="{active: snapIndex == 18}">&nbsp;&nbsp;19. <span class="hideForNow">Diageo&nbsp;&nbsp;</span></span></a>
    </li>

    <!--<li ng-repeat="n in [0,1,2,3,4]">
        <a href="#{{n}}" ng-click="$parent.snapIndex=n"><span ng-class="{active: snapIndex == n}"></span></a>
      </li>-->
  </ul>
</div>
